                        * {
                            margin: 0;
                            padding: 0;
                        }
                        
                        .gallory {
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            gap: 15px;
                            align-items: center;
                            min-width: 1200px;
                            min-height: 100vh;
                        }
                        
                        .gallory img {
                            width: 120px;
                            height: 550px;
                            border-radius: 50px;
                            box-shadow: 0px 0px 20px -8px rgb(6, 154, 180);
                            transition: 0.3s ease;
                            filter: grayscale(100%);
                        }
                        
                        .gallory img:hover {
                            transform: scale(1.1);
                            filter: grayscale(0%)
                        }